  @import "tailwindcss";

  :root {
    --background-image: url(bg.https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDg4MDd8MHwxfHNlYXJjaHwxNnx8bmF0dXJlfGVufDB8fHx8MTc1MTI3ODQxNXww&ixlib=rb-4.1.0&q=80&w=1080);
    --foreground: #171717;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-image: url(bg.https://images.unsplash.com/photo-1470813740244-df37b8c1edcb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDg4MDd8MHwxfHNlYXJjaHwxNnx8bmF0dXJlfGVufDB8fHx8MTc1MTI3ODQxNXww&ixlib=rb-4.1.0&q=80&w=1080);
      --foreground: #171717;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
